.speakers_all {

  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.speaker {
  padding: 1rem;
  &__name {
    width: 5rem;
    color: #4d436b;
    font-family: "museo";
    font-weight: 400;
  }
  &__location {
    color: #a5a1b2;
    font-weight: 300;
    width: 10rem;
  }
  &__profile {
    * {
      margin: 0.5rem;
      align-items: center;
    }
  }
  &__info-card {
    display: none;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  picture {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    object-fit: cover; 
  }
  &__image {

    width: 5rem;
    border-radius: 50%;
  }
  footer {
    display: none;
    }

  @media (min-width: 400px) { 
    grid-template-columns: 1fr ;
    picture {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      display: flex;
      position: relative;
      width: 100%;
      &::before {
        content: '';
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: linear-gradient(-45deg, rgba(0, 195, 255, 0.641) 0%, rgba(25, 0, 255, 0.243) 100%);
        //opacity: 40%;
      }
      &::after {
        content: "";
        z-index: 2;
        width: 60%;
        height: 13%;
        position: absolute;
        inset-inline: auto 0;
        inset-block: auto -6.5%;
        background-image: url(../image/elts/pattern_stripes.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      img {
        object-fit: cover;
        width: 100%;
        border-radius: 0;
  
      }
  }
  }


}