//reset
.main-header {
  font-weight: 450;
  color: #1d1d1d;
}
//modif 
.main-header {
  @media (min-width: 100px) {
    padding-inline: 1rem;
    padding-block-end: -2rem;
    display: flex;
    align-items: center;
      justify-content: space-between;
    border: 1px dashed;

    &__nav_schedule {
      display: flex;
      gap: 1rem;
    }
    //mobile-no-see
    &__nav_schedule_loop,
    &__nav_list,
    &__nav_schedule_title {
      display: none;
    }

    &__logo {
      img {
    width: 15rem;
  }
  }

  &__nav_schedule {
    font-size: 1.5rem;
  }
}
  @media (min-width: 768px) {
    &__nav_schedule {
      font-size: 1rem;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    //format-large-see
    &__nav_schedule_loop,
    &__nav_list,
    &__nav_schedule_title {
      display: contents;
    }
    &__logo {
          img {
        width: 10rem;
      }
    }
    &__nav {
      display: flex;
      gap: 1rem;
      padding: 1rem;
    }
    &__nav_list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      margin: 0;
      :last-child {
        border-right-style: none;
      }
    }
    &__nav_item {
      border-right-style: solid;
      padding-inline-end: 1rem;
    }
    &__nav_schedule {
      display: flex;
      gap: 1rem;
    }
  }

  
}

.deco-patern {
  display: flex;
  justify-content: space-between;
  img {
    margin-block-end: -1rem;
    height: 2rem;
  }
}

.icon-loop {
  padding-inline-start: 1rem;
  color: orange;
}

