.main-header {
  display: flex;
  border: 1px dashed grey;
  align-items: center;
  justify-content: space-between;
  &__logo {

    border: 1px dashed grey;
    img {
      width: 10rem;
    }
  }
  &__nav_list {
    border: 1px dashed grey;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0;
  }
}


