.speakers_all {

  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.speaker {
  @media (min-width: 100px) {
    &__profile {
      * {
        margin: 0.5rem;
      }
    }
    &__info-card {
      display: none;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    &__image {
      justify-self: end;
      align-self: center;
      object-fit: cover; 
      width: 5rem;
      border-radius: 50%;
      border: 1px solid;
      grid-column: 2 / -1;
      grid-row: 1 / 2;
    }
  //footer-card
  footer {
    display: none;
    }

  }

  @media (min-width: 400px) {
    &__info-card {
      display: contents;
    }

    img {
      width: 100%;
      border-radius: 0;
      grid-template-columns: repeat(2, 1fr);
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
  }
}
