.teaser {
  @media (min-width: 100px) {
    height: 10rem;
    margin: 0;
    width: 100%;
    background-color: #7b3aff;
    color: white;
    display: flex;
    gap: 2rem;
    &__image {
      margin-top: -5rem;
      align-self: end;
    }
    &__info {
      width: 30rem;
    }
    &__title {
      font-family: "museo";
      font-size: 2.5rem;
      margin-block-end: 0.5rem;
    }
    // disable-mobile
    &__texte {
  display: none;
  }
}
  @media (min-width: 700px) {
    height: 10rem;
    margin: 0;
    width: 100%;
    background-color: #7b3aff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    &__image {
      margin-top: -5rem;
      align-self: end;
    }
    &__info {
      width: 30rem;
    }
    &__title {
      font-family: "museo";
      font-size: 2.5rem;
      margin-block-end: 0.5rem;
    }
    &__texte {
      display: contents;
      font-family: "maven";
      color: #c0c0c0;
      font-size: 1.2rem;
      margin-top: 0;
    }
  }

}